body, ul, p, input{
	padding: 0px;
	margin: 0px;
}

body{
	background-color: #f9f9f9;
	font-family: "微软雅黑";
	color: #a8b4bb;
}

img{
	width: 100%;
	height: 100%;
}

ul{
	list-style: none;
}

[v-cloak] {
  display: none !important;
}

.header .callback{
	position: absolute;
	top: 14px;
	left: 16px;
	width: 13px;
}

.header .logo{
	margin: 60px auto 20px;
	width: 150px;
}

.header .identity{
	position: relative;
	width: 230px;
	margin: 0px auto 20px;
	line-height: 36px;
	height: 40px;
}

.header .identity ul{
	position: relative;
	z-index: 1;
	background-color: white;
	padding: 0px 15px;
	border: 1px solid #dddddd;
	border-radius: 20px;
	height: 40px;
	overflow: hidden;
	outline: none;
}

.header .identity .show{
	height: auto;
	overflow: auto;
}

.header .hidden li:first-child::after{
	transform: rotate(0deg) !important;
}

.header .identity li{
	padding-left: 5px;
	border-bottom: 1px solid #dddddd;
}

.header .identity li:last-child{
	border: none;
}

.header .identity li:first-child{
	line-height: 40px;
}

.header .identity li:first-child::after{
	display: block;
	content: "";
	background-image: url(../img/errow.png);
	background-size: 100% 100%;
	position: absolute;
	top: 14px;
	right: 18px;
	width: 12px;
	height: 12px;
	transform: rotate(-90deg);
}

.content p{
	border-top: 1px solid #dddddd;
}

.content .input{
	background-color: white;
	line-height: 50px;
	position: relative;
	padding: 0px 20px 0px 50px;

}

.content .input img{
	width: 20px;
	height: 20px;
	position: absolute;
	top: 16px;
	left: 20px;
}

.content .input .phone{
	width: auto;
	height: 24px;
	top: 14px;
	left: 22px;
}

.content .input .pass{
	width: auto;
	height: 22px;
	top: 15px;
	left: 21px;
}

.content .input.verify{
	padding-right: 140px;
}

.content .input.verify a{
	position: absolute;
	top: 7px;
	right: 20px;
	display: block;
	width: 100px;
	height: 36px;
	text-decoration: none;
	color: white;
	border-radius: 4px;
	line-height: 36px;
	text-align: center;
	background-color: #60bbe7;
}

.content .input.verify .wait{
	background-color: #d4d4d4;
}

.content .input input[type="text"],
.content .input input[type="number"],
.content .input input[type="password"]{
	width: 100%;
	height: 36px;
	font-size: 16px;
	border: none;
	outline: none;
	color: #6b6a6a;
	font-family: "微软雅黑";
}

.content .input-button{
	padding: 25px 15px 60px;
}

.content .input-button input,
.content .input-button a
{
	display: inline-block;
	width: 100%;
	height: 45px;
	line-height: 45px;
	border: none;
	outline: none;
	font-size: 18px;
	color: white;
	font-family: "微软雅黑";
	background-color: #60bbe7;
	border-radius: 6px;
	text-decoration: none;
	text-align: center;
}

.content .register{
	text-align: center;
	font-size: 0px
}

.content .register input,
.content .register a{
	width: 48%;
	font-size: 18px;
}

.content .register a{
	margin-right: 2%;
	background-color: #81ccf1;
}