.content .phone-icon{
	width: 130px;
	margin: 60px auto 20px;
}

.content .info{
	font-size: 22px;
	text-align: center;
	line-height: 36px;
}

.content .info p{
	margin-bottom: 8px;
}

.content .info .phone-number{
	font-size: 28px;
}