.questions{
	padding: 0px 16px;
}

.question h2{
	font-size: 18px;
	font-weight: normal;
}

.question .answers{
	background-color: white;
	border-radius: 6px;
	margin-top: 10px;
	margin-bottom: 20px;
	border: 1px solid #ebebeb;
}

.answers li{
	position: relative;
	line-height: 50px;
	border-bottom: 1px solid #ebebeb;
	padding-left: 46px;
}

.answers li:last-child{
	border: none;
}

.answers li::before{
	display: block;
	position: absolute;
	top: 14px;
	left: 14px;
	width: 20px;
	height: 20px;
	border: 1px solid #ebebeb;
	content: "";
	border-radius: 50%;
}

.answers li.on::before{
	border: none;
	width: 22px;
	height: 22px;
	background-image: url(../img/right.png);
	background-size: 100% 100%;
}

.submit{
	height: 40px;
	text-align: center;
	background-color: #60bbe7;
	line-height: 42px;
	color: white;
	border-radius: 6px;
	font-size: 18px;
}