<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=0, maximum-scale=1.0"/>
	<title>守望者</title>
	<link rel="stylesheet" href="../static/css/tabs.css">
	<link rel="stylesheet" href="../static/css/index.css">
	<script src="../static/js/vue.js"></script>
	<script src="../static/js/jquery-3.1.1.js"></script>
</head>
<body>
	<div class="tabs">
		<div class="tab self on">自我成长</div>
		<div class="tab watcher"><a href="watcher.html">守望者</a></div>
		<div class="tab phone"><a href="phone.html">心灵的港湾</a></div>
		<div class="tab me"><a href="me.html">我的</a></div>
	</div>

	<div class="content" id="content">
		<form class="search" action="search.html" method="get" v-on:submit="query">
			<input type="submit" class="search-button" value="搜索">
			<input type="search" class="search-text" id="search-text" name="q" placeholder="搜索测试（输入关键词）">
		</form>
		<div class="banner" v-cloak v-on:click="alert = banner[bannerSelected]">
			<div class="banner-picture" v-bind:style="{ width: bannerWidth, right: right + '%', left: left }">
				<img v-bind:src="test.testPic" v-for="test in indexData.banner" v-bind:style="{ width: bannerPicWidth }">
			</div>
			<div class="black"></div>
			<div class="slide">
				<i v-bind:class="{ on: bannerSelected == index }" v-for="(test, index) in banner"></i>
			</div>
		</div>
		<div class="recommend" v-cloak>
			<h2><b>·</b> 精选测试 <b>·</b></h2>
			<ul>
				<li class="text" v-for="test in indexData.selected" v-on:click="alert = test">
					<img v-bind:src="test.testPic" alt="">
					<h3>{{ test.testName }}</h3>
					<p class="description">{{ test.description }}</p>
				</li>
			</ul>
		</div>

		<transition name="alert" v-cloak>
			<div class="alert" v-if="alert">
				<div class="mask"></div>
				<div class="alert-box">
					<i class="close" v-on:click="alert = false"></i>
					<h3>{{ alert.testName }}</h3>
					<div class="description">
						<img v-bind:src="alert.testPic" alt="">
						<p class="desc">简介：</p>
						<p>{{ alert.description }}</p>
					</div>
					<div class="toTest">
						<a v-bind:href="'self_test.html?id=' + alert.id">立即测试</a>
					</div>
				</div>
			</div>
		</transition>
	</div>
	
	<script src="http://192.168.1.102 :35729/livereload.js?ext=Chrome&amp;extver=2.1.0"></script>
	<script src="../static/js/index.js"></script>
</body>
</html>