<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=0, maximum-scale=1.0"/>
	<title>守望者</title>
	<link rel="stylesheet" href="../static/css/tabs.css">
	<link rel="stylesheet" href="../static/css/index.css">
</head>
<body>
	<div class="tabs">
		<div class="tab self on">自我成长</div>
		<div class="tab watcher"><a href="watcher.html">守望者</a></div>
		<div class="tab phone"><a href="phone.html">心灵的港湾</a></div>
		<div class="tab me"><a href="me.html">我的</a></div>
	</div>

	<div class="content" id="content">
		<form class="search" action="search.html" method="get">
			<input type="submit" class="search-button" value="搜索">
			<input type="search" class="search-text" id="search-text" name="q" placeholder="搜索测试（输入关键词）">
			<div class="block"></div>
		</form>
		<div class="banner" v-cloak @click="show(banner[bannerIndex])">
			<div class="banner-picture" :style="{width: bannerWidth, right: bannerRight}">
				<div class="box" v-for="test in banner" :style="{width: slideWidth}">
					<img :src="test.test_pic">
					<span class="banner-title" v-text="test.test_name"></span>
				</div>
			</div>
			<div class="black"></div>
			<div class="slide">
				<i v-for="(test, index) in banner" :class="{on: index == bannerIndex}"></i>
			</div>
		</div>
		<div class="recommend" v-cloak>
			<h2><b>·</b> 精选测试 <b>·</b></h2>
			<ul>
				<li class="text" v-for="test in selected" @click="show(test)">
					<img :src="test.test_pic">
					<h3 v-text="test.test_name"></h3>
					<p class="description" v-text="test.short_des"></p>
				</li>
			</ul>
		</div>

		<transition name="alert" v-cloak>
			<div class="alert" v-if="isShowInformation">
				<div class="mask"></div>
				<div class="alert-box">
					<i class="close" @click="closeInformation"></i>
					<h3 v-text="showTest.test_name"></h3>
					<div class="description">
						<img :src="showTest.test_pic" alt="">
						<p class="desc">简介：</p>
						<p v-text="showTest.description"></p>
					</div>
					<div class="toTest">
						<a :href="testLink">立即测试</a>
					</div>
				</div>
			</div>
		</transition>
	</div>
	
	<script src="../static/js/vue.min.js"></script>
	<script src="../static/js/vue-resource.min.js"></script>
	<script src="../static/js/index.js"></script>
</body>
</html>