<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=0, maximum-scale=1.0"/>
	<title>守望者</title>
	<link rel="stylesheet" href="../static/css/tabs.css">
	<link rel="stylesheet" href="../static/css/phone.css">
</head>
<body>
	<div class="tabs">
		<div class="tab self"><a href="index.html">自我成长</a></div>
		<div class="tab others"><a href="others.html">守望者</a></div>
		<div class="tab phone on">心灵的港湾</div>
		<div class="tab me"><a href="me.html">我的</a></div>
	</div>

	<div class="content">
		<div class="phone-icon">
			<img src="../static/img/phone.png" alt="">
		</div>
		<div class="info">
			<p>
				<span>中心预约电话</span><br>
				<span class="phone-number">110</span>
			</p>
			<p>
				<span>援助热线</span><br>
				<span class="phone-number">110</span>
			</p>
			<p>
				<span>生命热线</span><br>
				<span class="phone-number">120</span>
			</p>
		</div>
	</div>
</body>
</html>