<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=0, maximum-scale=1.0"/>
	<title>守望者</title>
	<link rel="stylesheet" href="../static/css/tabs.css">
	<link rel="stylesheet" href="../static/css/index.css">
	<script src="../static/js/vue.js"></script>
	<script src="../static/js/jquery-3.1.1.js"></script>
</head>
<body>
	<div class="tabs">
		<div class="tab self on"><a href="index.html">自我成长</a></div>
		<div class="tab watcher"><a href="watcher.html">守望者</a></div>
		<div class="tab phone"><a href="phone.html">心灵的港湾</a></div>
		<div class="tab me"><a href="me.html">我的</a></div>
	</div>

	<div class="content" id="content">
		<form class="search header searchPage" action="search.html" method="get">
			<div class="back">
				<a href="javascript: history.back();">
					<img src="../static/img/back.png" alt="">
				</a>
			</div>
			<input type="submit" class="search-button" value="搜索">
			<input type="search" class="search-text" id="search-text" name="q" placeholder="搜索测试（输入关键词）">
		</form>
		<div class="recommend" v-cloak>
			<div class="block"></div>
			<ul>
				<li class="text" v-for="test in tests" @click="show(test)">
					<img :src="test.test_pic">
					<h3 v-text="test.test_name"></h3>
					<p class="description" v-text="test.short_des"></p>
				</li>
			</ul>
		</div>

		<transition name="alert" v-cloak>
			<div class="alert" v-if="isShowInformation">
				<div class="mask"></div>
				<div class="alert-box">
					<i class="close" @click="closeInformation"></i>
					<h3 v-text="showTest.test_name"></h3>
					<div class="description">
						<img :src="showTest.test_pic" alt="">
						<p class="desc">简介：</p>
						<p v-text="showTest.description"></p>
					</div>
					<div class="toTest">
						<a :href="testLink">立即测试</a>
					</div>
				</div>
			</div>
		</transition>
	</div>
	
	<script src="../static/js/search.js"></script>
</body>
</html>