<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=0, maximum-scale=1.0"/>
	<title>守望者</title>
	<link rel="stylesheet" href="../static/css/tabs.css">
	<link rel="stylesheet" href="../static/css/self_test.css">
</head>
<body>
	<div class="tabs">
		<div class="tab self on"><a href="index.html">自我成长</a></div>
		<div class="tab watcher"><a href="watcher.html">守望者</a></div>
		<div class="tab phone"><a href="phone.html">心灵的港湾</a></div>
		<div class="tab me"><a href="me.html">我的</a></div>
	</div>

	<div class="content" id="content">
		<div class="header">
			<div class="back">
				<a href="javascript: history.back();">
					<img src="../static/img/back.png" alt="">
				</a>
			</div>
			<h1 v-cloak v-text="test_name"></h1>
		</div>
		<div class="questions" v-cloak>
			<test-question :question="question" v-for="(question, index) in detail">
				{{ index + 1 }}. {{ question.question }}
			</test-question>
			<div class="submit" @click="submit" v-if="status">提交</div>
		</div>
	</div>

	<script type="text/x-template" id="question">
		<div class="question">
			<h2><slot></slot></h2>
			<ul class="answers">
				<li v-for="(answer, index) in answers"
					@click="chooseAnswer(index)"
					:class="{on: on(index)}">
					{{ answer }}
				</li>
			</ul>
		</div>
	</script>

	<script src="../static/js/vue.min.js"></script>
	<script src="../static/js/vue-resource.min.js"></script>
	<script src="../static/js/self_test.js"></script>
</body>
</html>