<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="initial-scale=1.0, width=device-width, user-scalable=0, maximum-scale=1.0"/>
	<title>守望者</title>
	<link rel="stylesheet" href="../static/css/tabs.css">
	<link rel="stylesheet" href="../static/css/finish.css">
</head>
<body>
	<div class="tabs">
		<div class="tab self"><a href="index.html">自我成长</a></div>
		<div class="tab watcher on"><a href="watcher.html">守望者</a></div>
		<div class="tab phone"><<a href="phone.html">心灵的港湾</a></div>
		<div class="tab me"><a href="me.html">我的</a></div>
	</div>

	<div class="content">
		<div class="finish">
			<img src="../static/img/finish.png" alt="">
		</div>
		<div class="info">
			<p>你已完成守望信息填写</p>
			<p>感谢你对同学的关心</p>
			<p>期待你一如既往地关注</p>
		</div>
		<a href="index.html" class="submit">完成</a>
	</div>

	<script src="http://192.168.163.217:35729/livereload.js?ext=Chrome&amp;extver=2.1.0"></script>
</body>
</html>