<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>守望者</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/index.css">
    <script src="../static/js/jquery-3.1.1.min.js"></script>
</head>

<body>
	<div class="header">
		<div class="leaders">
			<img src="../static/img/logo.png" alt="守望者" class="logo">
			<ul>
				<li class="on"><a href="index.html">首页</a></li>
				<li><a href="search.html">搜索</a></li>
				<li><a href="info.html">通知</a></li>
				<li><a href="user.html">管理账号</a></li>
			</ul>
			<img src="../static/img/avatar.jpg" alt="" class="avatar">
		</div>
	</div>
	<div class="content">
		<h1>
			<img src="../static/img/logo.png" alt="" class="logo">
		</h1>
		<p class="search-line">
			<input type="text" id="search-box" class="search-box" placeholder="请输入姓名查找学生" autofocus="autofocus">
			<input type="button" id="search-button" class="search-button" value="搜索">
		</p>
	</div>
	<script src="../static/js/index.js"></script>
</body>

</html>
