<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>守望者</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/info.css">
</head>

<body>
	<div class="header">
		<div class="leaders">
			<img src="../static/img/logo.png" alt="守望者" class="logo">
			<ul>
				<li><a href="index.html">首页</a></li>
				<li><a href="search.html">搜索</a></li>
				<li class="on"><a href="info.html">通知</a></li>
				<li><a href="user.html">管理账号</a></li>
			</ul>
			<img src="../static/img/avatar.jpg" alt="" class="avatar">
		</div>
	</div>
	<div class="content">
		<table class="information">
			<tr>
				<th></th>
				<th>时间</th>
				<th>自评/他评</th>
				<th>评报人</th>
				<th>系统评级</th>
				<th></th>
				<th></th>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td>张小韬</td>
				<td>2015.02.20 18:30</td>
				<td>他评</td>
				<td>王大大</td>
				<td>二级</td>
				<td>New</td>
				<td>前去处理</td>
			</tr>
			<tr>
				<td colspan="7">更多</td>
			</tr>
			<tr class="fixed-table">
				<td></td>
				<td></td>
				<td></td>
				<td></td>
				<td></td>
			</tr>
		</table>
	</div>
</body>

</html>
