<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<title>守望者</title>
	<link rel="stylesheet" href="../static/css/login.css">
	<script src="../static/js/jquery-3.1.1.min.js"></script>
</head>

<body>
	<form action="" method="POST" class="login" id="login">
		<h1>
			<img src="../static/img/logo.png" alt="守望者"><br>
			<span>广东外语外贸大学心理咨询中心</span>
		</h1>
		<p>
			<span class="name">账号</span>
			<input type="text" id="username" class="username text" name="username" placeholder="请输入账号" autofocus="autofocus">
		</p>
		<p>
			<span class="name">密码</span>
			<input type="text" id="password" class="password text" name="password" placeholder="请输入密码">
		</p>
		<p class="remember">
			<label id="remember">
				<i class="radio"></i>
				<input type="radio" name="remember" value="remember">
				<span>记住我</span>
			</label>
			<span class="remark" id="remark"></span>
		</p>
		<p>
			<input type="submit" class="submit text" value="登陆">
		</p>
	</form>
	<script src="../static/js/login.js"></script>
</body>

</html>
