<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>守望者</title>
    <link rel="stylesheet" href="../static/css/header.css">
    <link rel="stylesheet" href="../static/css/personal.css">
    <script src="../static/js/jquery-3.1.1.min.js"></script>
</head>

<body>
	<div class="header">
		<div class="leaders">
			<img src="../static/img/logo.png" alt="守望者" class="logo">
			<ul>
				<li class="on"><a href="index.html">首页</a></li>
				<li><a href="search.html">搜索</a></li>
				<li><a href="info.html">通知</a></li>
				<li><a href="user.html">管理账号</a></li>
			</ul>
			<img src="../static/img/avatar.jpg" alt="" class="avatar">
		</div>
	</div>
	<div class="content">
		<div class="person">
			<div class="avatar">
				<img src="../static/img/avatar.jpg" alt="">
			</div>
			<div class="information">
				<h2>郭小洁</h2>
				<p>思科信息学院 软件工程1503</p>
				<p>学号：20151001234</p>
				<p>手机：110</p>
			</div>
			<div class="function">
				<span class="fixed">修改评级</span>
				<span class="warning">通知上级</span>
			</div>
			<div class="light">
				<i style="background-color: #7bd191"></i>
				<i style="background-color: #ebaa40"></i>
				<i style="background-color: #eb6100"></i>
				<i style="background-color: #e32a38"></i>
				<i style="background-color: #eb6100"></i>
				<i style="background-color: #eb6100"></i>
			</div>
		</div>
		<div class="handle">
			<h2>应对和处理</h2>
			<p>
				<input type="text" placeholder="应对和处理">
				<input type="button" value="确定">
			</p>
		</div>
		<div class="log">
			<h2>评测记录</h2>
			<table>
				<tr>
					<th>时间</th>
					<th>类型</th>
					<th>评测人</th>
					<th>评测结果</th>
					<th>备注</th>
				</tr>
				<tr>
					<td>2016.06.30 21:30</td>
					<td>他评</td>
					<td>曾小君</td>
					<td>三级预警</td>
					<td>已经与该学生沟通，并且请了心理咨询中心的王老师...</td>
				</tr>
				<tr>
					<td>2016.06.30 21:30</td>
					<td>他评</td>
					<td>曾小君</td>
					<td>三级预警</td>
					<td>已经与该学生沟通，并且请了心理咨询中心的王老师...</td>
				</tr>
				<tr>
					<td>2016.06.30 21:30</td>
					<td>他评</td>
					<td>曾小君</td>
					<td>三级预警</td>
					<td>已经与该学生沟通，并且请了心理咨询中心的王老师...</td>
				</tr>
				<tr>
					<td>2016.06.30 21:30</td>
					<td>他评</td>
					<td>曾小君</td>
					<td>三级预警</td>
					<td>已经与该学生沟通，并且请了心理咨询中心的王老师...</td>
				</tr>
				<tr class="fixed-table">
					<td></td>
					<td></td>
					<td></td>
					<td></td>
					<td></td>
				</tr>
			</table>
		</div>
	</div>
	<script src="../static/js/index.js"></script>
</body>

</html>
