body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:644px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:340px;
  top:1px;
  width:304px;
  height:639px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:639px;
}
#u2 {
  position:absolute;
  left:2px;
  top:312px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u3 {
  position:absolute;
  left:366px;
  top:94px;
  width:256px;
  height:32px;
}
#u3_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:32px;
}
#u4 {
  position:absolute;
  left:2px;
  top:8px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u5 {
  position:absolute;
  left:372px;
  top:95px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u5_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u6 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u7 {
  position:absolute;
  left:399px;
  top:100px;
  width:10px;
  height:20px;
}
#u7_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u7_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u7_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u8 {
  position:absolute;
  left:420px;
  top:100px;
  width:189px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:189px;
  height:20px;
}
#u9 {
  position:absolute;
  left:2px;
  top:2px;
  width:185px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:366px;
  top:507px;
  width:256px;
  height:43px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:43px;
}
#u11 {
  position:absolute;
  left:2px;
  top:14px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:371px;
  top:514px;
  width:209px;
  height:29px;
}
#u12_input {
  position:absolute;
  left:0px;
  top:0px;
  width:209px;
  height:29px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:13px;
  text-decoration:none;
  color:#000000;
  text-align:left;
}
#u13 {
  position:absolute;
  left:585px;
  top:514px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
}
#u13_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u14 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u15 {
  position:absolute;
  left:375px;
  top:156px;
}
#u15_state0 {
  position:relative;
  left:0px;
  top:0px;
  background-image:none;
}
#u15_state0_content {
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u16 {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:138px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:234px;
  height:138px;
}
#u17 {
  position:absolute;
  left:2px;
  top:61px;
  width:230px;
  visibility:hidden;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:9px;
  top:8px;
  width:216px;
  height:106px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:216px;
  height:106px;
}
#u19 {
  position:absolute;
  left:2px;
  top:45px;
  width:212px;
  visibility:hidden;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:20px;
  top:116px;
  width:145px;
  height:19px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:16px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  height:19px;
}
#u21 {
  position:absolute;
  left:0px;
  top:0px;
  width:145px;
  white-space:nowrap;
}
#u22 {
  position:absolute;
  left:464px;
  top:138px;
  width:59px;
  height:15px;
  font-family:'Arial Normal', 'Arial';
  font-weight:400;
  font-style:normal;
  font-size:12px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  height:15px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:59px;
  white-space:nowrap;
}
