body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:644px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u1 {
  position:absolute;
  left:340px;
  top:1px;
  width:304px;
  height:639px;
}
#u1_img {
  position:absolute;
  left:0px;
  top:0px;
  width:304px;
  height:639px;
}
#u2 {
  position:absolute;
  left:2px;
  top:312px;
  width:300px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:366px;
  top:94px;
  width:256px;
  height:32px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:32px;
}
#u5 {
  position:absolute;
  left:2px;
  top:8px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:372px;
  top:95px;
  width:30px;
  height:30px;
  font-family:'IOS8-Icons Regular', 'IOS8-Icons';
  font-weight:400;
  font-style:normal;
  font-size:28px;
  color:#FFFFFF;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  height:30px;
}
#u7 {
  position:absolute;
  left:0px;
  top:0px;
  width:30px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:399px;
  top:100px;
  width:10px;
  height:20px;
}
#u8_start {
  position:absolute;
  left:-5px;
  top:0px;
  width:20px;
  height:18px;
}
#u8_end {
  position:absolute;
  left:-5px;
  top:3px;
  width:20px;
  height:18px;
}
#u8_line {
  position:absolute;
  left:5px;
  top:0px;
  width:1px;
  height:20px;
}
#u9 {
  position:absolute;
  left:420px;
  top:100px;
  width:86px;
  height:20px;
  font-size:14px;
  color:#FFFFFF;
  text-align:left;
}
#u9_img {
  position:absolute;
  left:0px;
  top:0px;
  width:86px;
  height:20px;
}
#u10 {
  position:absolute;
  left:2px;
  top:2px;
  width:82px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:366px;
  top:515px;
  width:256px;
  height:35px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:256px;
  height:35px;
}
#u13 {
  position:absolute;
  left:2px;
  top:10px;
  width:252px;
  visibility:hidden;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:366px;
  top:515px;
  width:65px;
  height:35px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u15 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u16 {
  position:absolute;
  left:493px;
  top:515px;
  width:65px;
  height:35px;
}
#u16_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u17 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u18 {
  position:absolute;
  left:429px;
  top:515px;
  width:65px;
  height:35px;
}
#u18_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u19 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u20 {
  position:absolute;
  left:557px;
  top:515px;
  width:65px;
  height:35px;
}
#u20_img {
  position:absolute;
  left:0px;
  top:0px;
  width:65px;
  height:35px;
}
#u21 {
  position:absolute;
  left:2px;
  top:10px;
  width:61px;
  word-wrap:break-word;
}
#u22 {
  position:absolute;
  left:380px;
  top:136px;
  width:113px;
  height:201px;
}
#u22_img {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  height:201px;
}
#u23 {
  position:absolute;
  left:0px;
  top:0px;
  width:113px;
  white-space:nowrap;
}
